.session_div{
    border-top: 2px solid rgb(223, 223, 223);
    margin-bottom: 0.5%;
}

.session_section{
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 1%;
}

.feed_div{
    margin: 1%;
    border: 1px solid rgb(219, 219, 219);
    padding-top: 1%;
}

.feed_input{
    margin-left: 30%;
}

.feed_input input{
    width: 50%;
    border: none;
    background-color: rgb(226, 226, 226);
    border-radius: 7px;
    padding-top: 1%;
    padding-bottom: 1%;
    text-align: center;
}

.checkbox_div{
    float: right;
    margin-right: 5%;
}

.course_name{
    font-weight: 100;
    font-size: 150%;
}

.like_btn{
    background-color: transparent;
    border: 0;
    color: red;
}

.comment-form{
    height: 50px;
    width: 90%;
}