.body{
    background-image: url('https://images.unsplash.com/photo-1541829070764-84a7d30dd3f3?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8dW5pdmVyc2l0eSUyMGNsYXNzcm9vbXxlbnwwfHwwfHx8MA%3D%3D&w=1000&q=80');
}  
h2{
    font-size: 80px; 
}     
p{
    font-weight: bold; 

}   

button{
    background-color: grey;  
    border-color: grey;  
    color: black;  
    
}